<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>参考设计稿实现HTML页面及CSS样式</title>
    <link rel="stylesheet" href="design.css">
</head>
<body>
<header>
    <div class="head-content">
        <div class="logo">Logo</div>
        <nav class="head-nav">
            <ul>
                <li>Github</li>
                <li>Register</li>
                <li>Login</li>
            </ul>
        </nav>
    </div>
</header>
<section class="banner">
    <div class="banner-num">
        <ul>
            <li>1</li>
            <li class="active">2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </div>
</section>
<section class="bottom-line">
    <div class="main-nav">
        <ul>
            <li>HOME</li>
            <li>PROFILE</li>
            <li>ABOUT</li>
        </ul>
    </div>
</section>
<section>
    <div class="content">
        <div>This is Content 1</div>
        <div>MabybeContent 2</div>
        <div>Content3</div>
        <div>Content4</div>
        <div>Content5</div>
        <div>Content6</div>
        <div>Content7</div>
        <div>Content8</div>
        <div>Content9</div>
        <div>Content10</div>
    </div>
</section>
<footer>
    <p>2018/5/10 ife.baidu.com</p>
</footer>
</body>
</html>