<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实现一个三栏布局，左侧固定宽度，中间固定宽度，右侧根据浏览器宽度变化而自适应变化</title>
    <!--<link href="css/float.css" rel="stylesheet">-->
    <!--<link href="css/position.css" rel="stylesheet">-->
    <link href="css/flexbox.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="left">
        <h1>左侧栏</h1>
        <p>左侧固定宽度左侧固定宽度左侧固定宽度左侧固定宽度左侧固定宽度左侧固定宽度左侧固定宽度左侧固定宽度左侧固定宽度左侧固定宽度</p>
    </div>
    <div class="middle">
        <h1>中间栏</h1>
        <p>中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度中间固定宽度</p>
    </div>
    <div class="right">
        <h1>右侧栏</h1>
        <p>右侧根据浏览器宽度变化而自适应变化右侧根据浏览器宽度变化而自适应变化右侧根据浏览器宽度变化而自适应变化右侧根据浏览器宽度变化而自适应变化右侧根据浏览器宽度变化而自适应变化右侧根据浏览器宽度变化而自适应变化</p>
    </div>
</div>
</body>
</html>