<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实现一个两栏布局，右侧固定宽度，左侧根据浏览器宽度进行自适应变化</title>
    <!--<link href="css/float.css" rel="stylesheet">-->
    <!--<link href="css/position.css" rel="stylesheet">-->
    <link href="css/flexbox.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="left">
        <h1>第一栏</h1>
        <p>左侧根据浏览器宽度进行自适应变化左侧根据浏览器宽度进行自适应变化左侧根据浏览器宽度进行自适应变化左侧根据浏览器宽度进行自适应变化左侧根据浏览器宽度进行自适应变化左侧根据浏览器宽度进行自适应变化</p>
    </div>
    <div class="right">
        <h1>第二栏</h1>
        <p>右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度右侧固定宽度</p>
    </div>
</div>
</body>
</html>