<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</title>
    <!--<link href="css/float.css" rel="stylesheet">-->
    <!--<link href="css/position.css" rel="stylesheet">-->
    <link href="css/flexbox.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="left">
        <h1>第一栏</h1>
        <p>左侧占30%宽度左侧占30%宽度左侧占30%宽度左侧占30%宽度左侧占30%宽度左侧占30%宽度</p>
    </div>
    <div class="right">
        <h1>第二栏</h1>
        <p>右侧占70%宽度右侧占70%宽度右侧占70%宽度右侧占70%宽度右侧占70%宽度右侧占70%宽度右侧占70%宽度右侧占70%宽度</p>
    </div>
</div>
</body>
</html>